In [1]:
import pandas as pd
df = pd.read_csv("homeprices.csv")
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [2]:
dummies = pd.get_dummies(df.town)
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [3]:
merged = pd.concat([df,dummies],axis='columns')
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [5]:
x = merged[['area','monroe township','robinsville','west windsor']]
y = merged.price
x

    area  monroe township  robinsville  west windsor
0   2600                1            0             0
1   3000                1            0             0
2   3200                1            0             0
3   3600                1            0             0
4   4000                1            0             0
5   2600                0            0             1
6   2800                0            0             1
7   3300                0            0             1
8   3600                0            0             1
9   2600                0            1             0
10  2900                0            1             0
11  3100                0            1             0
12  3600                0            1             0

In [6]:
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [7]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)
model.predict([[3400,0,0,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([663127.82197376])

In [9]:
model.score(x,y)

0.9573929037221872